<div class="slds-scope">
  <div class="slds-card">
    <div class="slds-page-header">
      <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
          <div class="slds-media">
            <div class="slds-media__figure">
              <span class="slds-icon_container custom-icon-bg">
                <i class="ti ti-checklist custom-icon"></i>
              </span>
            </div>

            <div class="slds-media__body">
              <div class="slds-page-header__name">
                <div class="slds-page-header__name-title">
                  <h1>
                    <span class="slds-page-header__title slds-truncate">Tasks</span>
                  </h1>
                </div>
              </div>
              <p class="slds-page-header__name-meta">All Tasks</p>
              <p class="slds-text-body_small">{{ totalCount }} records</p>
            </div>
          </div>
        </div>

        <div class="slds-page-header__col-actions">
          <div class="slds-page-header__controls">
            <div class="slds-page-header__control">
              <button class="slds-button slds-button_neutral custom-btn-yellow" (click)="openAddTaskModal()">New
                Task</button>
            </div>

            <div class="slds-page-header__control">
              <button class="slds-button slds-button_neutral" (click)="refresh()">Refresh</button>
            </div>
          </div>
        </div>
      </div>

      <div class="slds-page-header__row slds-page-header__row_gutters">
        <div class="slds-page-header__col-details">

          <div class="slds-grid slds-grid_align-end">
            <div class="slds-form-element">
              <div
                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left custom-search-wrapper">
                <i class="ti ti-search slds-input__icon slds-input__icon_left"></i>
                <input type="text" class="slds-input custom-search-input" placeholder="Search" [(ngModel)]="searchTerm"
                  (keyup)="onSearch()" />
                <button *ngIf="searchTerm" type="button" class="custom-clear-btn" (click)="clearSearch()">
                  <i class="ti ti-x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Table -->
     <div class="custom-table-wrapper">

    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="slds-text-align_center" scope="col" style="width: 3.25rem;">
            <div class="slds-th__action slds-th__action_form">
              <span class="slds-checkbox">
                <input type="checkbox" />
                <label class="slds-checkbox__label">
                  <span class="slds-checkbox_faux"></span>
                </label>
              </span>
            </div>
          </th>

          <th scope="col">
            <div class="slds-truncate">Assigned To</div>
          </th>
          <th scope="col">
            <div class="slds-truncate">Status</div>
          </th>
          <th scope="col">
            <div class="slds-truncate">Due Date</div>
          </th>
          <th scope="col">
            <div class="slds-truncate">Priority</div>
          </th>
          <th scope="col">
            <div class="slds-truncate">Comments</div>
          </th>
        </tr>
      </thead>

      <!-- Loading -->
      <tbody *ngIf="isLoading; else afterLoading">
        <tr *ngFor="let x of [].constructor(5)">
          <td colspan="6"><ngx-skeleton-loader></ngx-skeleton-loader></td>
        </tr>
      </tbody>

      <ng-template #afterLoading>
        <tbody *ngIf="tasks?.length > 0; else noDataTemplate">
          <tr *ngFor="let task of tasks" class="slds-hint-parent">
            <td class="slds-text-align_center">
              <span class="slds-checkbox">
                <input type="checkbox" />
                <label class="slds-checkbox__label">
                  <span class="slds-checkbox_faux"></span>
                </label>
              </span>
            </td>

            <td data-label="Assigned To">
              <a class="slds-truncate custom-link">{{ task?.assignedTo || '-'}}</a>
            </td>

            <td data-label="Status">
              <span class="slds-truncate custom-status-{{ task.status | lowercase }}">
                {{ task?.status || '-' }}
              </span>
            </td>

            <td data-label="Due Date">
              <span class="slds-truncate">{{ task.dueDate ? (task.dueDate | date: 'dd/MM/yyyy') : '-' }}</span>
            </td>

            <td data-label="Priority">
              <span class="slds-truncate custom-priority-{{ task.priority | lowercase }}">
                {{ task.priority }}
              </span>
            </td>

            <td data-label="Comments">
              <div class="slds-grid slds-grid_align-spread slds-grid_vertical-align-center">
                <span class="slds-truncate truncate-text">{{ task.comments || '-' }}</span>

                <div class="slds-dropdown-trigger slds-dropdown-trigger_click"
                  [class.slds-is-open]="actionMenuTaskId === task.id">

                  <button class="slds-button slds-button_icon slds-button_icon-border-filled"
                    (click)="toggleActionMenu(task.id!)">
                    <i class="ti ti-dots-vertical slds-button__icon"></i>
                  </button>

                  <div class="slds-dropdown slds-dropdown_right custom-dropdown" *ngIf="actionMenuTaskId === task.id">

                    <ul class="slds-dropdown__list">
                      <li class="slds-dropdown__item">
                        <a role="menuitem" (click)="openEditModal(task)">
                          <span class="slds-truncate">Edit</span>
                        </a>
                      </li>

                      <li class="slds-dropdown__item">
                        <a role="menuitem" (click)="openDeleteModal(task)">
                          <span class="slds-truncate">Delete</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </ng-template>

      <!-- No data -->
      <ng-template #noDataTemplate>
        <tbody>
          <tr>
            <td colspan="6" class="slds-text-align_center custom-nodata">
              <i class="ti ti-info-circle"></i>
              <span>No Data Found</span>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
</div>
    <!-- Pagination -->
    <div class="slds-card__footer custom-footer">
      <div>
        <select class="slds-select custom-page-select" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
          <option *ngFor="let option of pageSizeOptions" [ngValue]="option">
            {{ option }}
          </option>
        </select>
      </div>

      <div class="slds-button-group">
        <button class="slds-button slds-button_neutral" (click)="goToFirstPage()" [disabled]="currentPage === 1">
          First
        </button>

        <button class="slds-button slds-button_neutral" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
          Prev
        </button>

        <span class="slds-button slds-button_neutral custom-page-display">
          {{ currentPage }}
        </span>

        <button class="slds-button slds-button_neutral" (click)="goToNextPage()" [disabled]="currentPage >= totalPages">
          Next
        </button>

        <button class="slds-button slds-button_neutral" (click)="goToLastPage()" [disabled]="currentPage >= totalPages">
          Last
        </button>
      </div>
    </div>
  </div>
</div>

<app-add-task *ngIf="showAddModal || showEditModal" [task]="selectedTask" (save)="onTaskFormSave($event)"
  (notify)="toast.show($event.message, $event.type)"
 (close)="closeModals()">
</app-add-task>

<app-toast></app-toast>

<div *ngIf="showAddModal || showEditModal" class="slds-backdrop slds-backdrop_open"></div>

<!-- Delete Model -->
<section *ngIf="showDeleteModal" class="slds-modal slds-fade-in-open" aria-modal="true" role="dialog">

  <div class="slds-modal__container">

    <header class="slds-modal__header slds-theme_error">
      <h2 class="slds-text-heading_medium slds-hyphenate">Delete</h2>
    </header>

    <div class="slds-modal__content slds-p-around_medium">
      <p>Do you want to delete task <strong>{{ selectedTask?.assignedTo }}</strong>?</p>
    </div>

    <footer class="slds-modal__footer">
      <button class="slds-button slds-button_neutral" (click)="closeDeleteModal()">
        No
      </button>

      <button class="slds-button slds-button_destructive" (click)="confirmDelete()">
        Yes
      </button>
    </footer>

  </div>
</section>

<div *ngIf="showDeleteModal" class="slds-backdrop slds-backdrop_open"></div>